* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

/*Navigation bar*/
.header-section {
  width: 100%;
  position: fixed;
  top: 0;
}

.nav-bar {
  background-color: #1a1818;
  color: #ffffff;
  padding: 5px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.main-list,
.transition-list {
  display: flex;
  list-style-type: none;
  gap: 40px;
}

.main-list li a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}

.main-list li img {
  vertical-align: middle;
  margin-left: 5px;
}

/*hover effect for links*/

.main-list li a:hover {
  color: #ffcc00;
}

/*transition list*/

.transition-list {
  justify-content: end;
  align-items: center;
  margin-right: 30px;
}
.transition-list li a {
  color: #ffcc00;
  text-decoration: none;
}

.transition-list li a:hover {
  color: #fff70a;
}

/*Red center text*/
.red-text {
  font-weight: bold;
  color: #bf3939;
  margin: 50px 0;
  text-align: center;
  font-size: 30px;
}

/*red icon*/
.red-icon {
  vertical-align: middle;
  margin-right: 5px;
}

/*gray background, italic*/
.gray-background {
  padding: 50px;
  background-color: #f9f9f9;
  font-style: italic;
}

/*footer*/

.footer-of-page {
  background-image: url(../images/zaiskri-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.footer-of-page > h2 {
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  padding-top: 40px;
  font-size: 50px;
  font-weight: bold;
}

#first {
  color: #ffffff;
}

#second {
  color: #962a2a;
}
/*responsive for mobile - FIX*/
@media (max-width: 768px) {
  .nav-bar {
    padding: 5px 0;
  }

  .main-list,
  .transition-list {
    flex-direction: column; /* Stack items on smaller screens */
    gap: 10px; /* Smaller gap between items */
    justify-content: center;
  }
}

/*responsive for tablet - FIX */
@media (min-width: 769px) and (max-width: 1024px) {
  .nav-bar {
    padding: 10px 0;
  }

  .main-list,
  .transition-list {
    flex-direction: row;
    gap: 20px;
    justify-content: center;
  }
}
